body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    background-color: #3f51b5;
    color: white;
    padding: 20px;
}

.weather-info {
    text-align: center;
    margin-top: 20px;
}

#submit {
    background-color: #0e5aaf;
    color: white;
    border: none;
    padding: 14px 20px;
    cursor: pointer;
    border-radius: 9px;
    margin-top: 15px;
}

/* Customize the weather cards */
.weather-card {
    background-color: #fff;
    border: 1px solid #0f4bfb;
    padding: 119px;
    margin: 19px;
    box-shadow: 9px 0px 10px rgba(66, 0, 98, 0.2);
}
.card-title {
    font-size: 18px;
    font-weight: bold;
}

.card-text {
    font-size: 16px;
}

/* Customize the navigation bars */
.navbar {
    background-color: #2196F3;
    color: white;
    padding: 10px;
    text-align: center;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border-radius: 6px;
    margin: 8px


}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 3.2;
    color: var(--bs-heading-color);
    padding: 11px;
}
nav a {
    text-decoration: none;
    color: rgb(15, 106, 234);
    margin: 0 20px;
}
input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    background-color: #4266e8;
    color: #fff;
}